.navbar {
    height: 5px;
}
.navbar .alan {
    margin-left: 100px;
    font-size: 20px;
    color: white;
}
.navbar-2 {
    /* margin-top: 15px; */
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}
.navbar-2 .alan-1 {
    color: black;
    margin-left: 150px;
}
.navbar-2 .alan {
    color: black;
    margin-left: 50px;
}

.HomeFood {
    width: 100%;
    height: 500px;
    background-color: rgb(212, 212, 212);
}

.background {
    width: 700px;
    margin-left: 100px;
    padding-top: 100px;
    background-color: aqua;
}

.table {
    /* padding: 50px; */
    margin-top: 100px;
    margin-left: 110px;
}

