@import url('https://fonts.googleapis.com/css?family=Amarante');
/* 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */
/* html { overflow-y: scroll; } */
.body { 
  background: #eee url('https://i.imgur.com/eeQeRmk.png'); /* https://subtlepatterns.com/weave/ */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  /* line-height: 1; */
  color: #585858;
  padding-top: 70px;
  /* margin-left: -100px; */
  /* margin-top: 30px; */
  /* padding: 22px 10px; */
  padding-bottom: 150px;
}

p {
    color: #afbdc7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -50px;
    margin-left: 164px;
    margin-bottom: 20px;
    font-size: 12px;
}
#wrapper button {
    background-color: rgb(107, 107, 255);
    padding: 7px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 13px;
    margin-bottom: 20px;
    margin-left: 4px;
    color: #eee;
}
#keywords tbody tr:nth-child(odd) {
    background-color: #f6f6f6; /* Warna latar belakang baris ganjil */
  }
  
  #keywords tbody tr:nth-child(even) {
    background-color: #ffffff; /* Warna latar belakang baris genap */
  }
/* ::selection { background: #5f74a0; color: #fff; }
::-moz-selection { background: #5f74a0; color: #fff; }
::-webkit-selection { background: #5f74a0; color: #fff; } */

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

h1 { 
  font-family: 'Amarante', Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: center;
}


/** page structure **/
#wrapper {
  display: block;
  width: 850px;
  background: #fff;
  margin: 0 auto;
  padding: 30px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}


#keywords thead {
  cursor: pointer;
  /* background: #c9dff0; */
}
#keywords thead tr th { 
  font-weight: bold;
  /* padding: 12px 30px; */
  padding-left: 10px;
}
#keywords thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
  background-image: url('https://i.imgur.com/SP99ZPJ.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('https://i.imgur.com/RkA9MBo.png');
}

thead .tr {
    background-color: #c7c7c7;
    height: 50px;
    margin-top: 100px;
   
}
/* #keywords tbody tr { 
  color: #555;
} */
#keywords tbody tr td {
    text-align: center;
    padding: 20px 90px; /* Atur padding antar sel di sini */
  }
#keywords tbody tr td.lalign {
  /* text-align: left; */
  /* margin-left: px; */
}