body {
    background-color: rgb(248, 248, 248);
}

.container {
    display: flex;
    margin-top: 40px;
    margin-left: 115px;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    margin-right: 20px;
    gap: 20px;
  }
  
  .card {
    /* position: relative; */
    background-color: #fff;
    margin-right: 40px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(158, 158, 158, 0.3);
    margin-bottom: 5px;
  }
  
  .card-image {
    width: 140px; /* Gambar mengisi lebar card */
    height: 120px; /* Lebar gambar disesuaikan dengan aspek aslinya */
    margin-bottom: 6px;
  }
  
  .card-text {
    /* padding: 5px; */
    font-size: 12px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .card-text-2 {
    /* padding: 5px; */
    font-size: 12px;
    color: rgb(115, 110, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .large-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 12px;
    text-align: center;
    width: 350px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    margin-left: 30px;
  }
  
  .pesanan {
   margin-top: -45px;
   margin-bottom: 40px;
   color: black;
  }


  .logo {
    width: 60px; /* Sesuaikan ukuran logo */
    margin-bottom: 10px;
    margin-left: 40px;
  }
  
  .list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .product-info {
    display: flex;
    align-items: center;
  }
  
  .foto {
    width: 65px; /* Sesuaikan ukuran foto produk */
    height: 55px;
    /* margin-left: -0px; */
    margin-right: 10px;
  }
  
  .nama {
    font-weight: bold;
    font-size: 10px;
    color: black;
    /* margin-right: 60px; */
    /* flex-grow: 1; */ /* Hapus baris ini */
  }
  
  .x1
   {
    color: black;
    /* position: relative; */
    font-weight: bold;
    min-width: 40px;
    font-size: 10px;
    margin-left: 10px;
    text-align: center;
  }

  .harga {
    color: rgb(43, 167, 255);
    font-weight: bold;
    min-width: 40px;
    font-size: 10px;
    /* margin-left: 10px; */
    text-align: center;
  }

  .button {
    border: 2px solid rgb(250, 76, 76);
    height: 25px;
    width: 255px;
    font-size: 12px;
    margin-top: 10px;
    color:  rgb(250, 76, 76);
    margin-bottom: 10px;
    /* padding: 2px; */
  }

  .save {
    display: flex;
  }

  .savebill {
    border: 2px solid rgb(49, 139, 19);
    background-color: rgb(49, 139, 19);
    height: 25px;
    width: 120px;
    font-size: 12px;
    color: #fff;
  }
  .printbill {
    color: #fff;
    border: 2px solid rgb(49, 139, 19);
    background-color: rgb(49, 139, 19);
    height: 25px;
    font-size: 12px;
    width: 120px;
    margin-left: 15px;
  }

  .charge {
    color: #fff;
    border: 2px solid rgb(0, 81, 221);
    background-color: rgb(0, 81, 221);
    height: 35px;
    width: 255px;
    font-size: 12px;
    margin-top: 10px;
    /* margin-left: 15px; */
  }